#navbar{
   display: flex; 
   padding-left: 10%;
   gap: 10%;
}
#header{
   padding-left: 15%;
   background-color: plum;
}
#wears{
   text-align: center;
}
#Rompers{
   display: flex;
}
.clothes{
   display: flex;
   gap: 15%;
}
   
.shorts{
display: flex;
padding-left: 5%;
gap: 15%;
}
#dresses{
   display: flex;
   padding-left: 5%;
   gap: 15%;
}
.shoes{
   display: flex;
   padding-left: 5%;
   gap: 15%;
}
#title{
   text-align: center;
   padding-right: 5%;
}
.toy1{
   display: flex;
   padding-left: 5%;
   gap: 15%;
}
.garlie{
display: flex;
padding-left: 5%;
gap: 15%;
}
.heels{
   display: flex;
   padding-left: 5%;
   gap: 15%;
}.mini{
   display: flex;
   padding-left: 5%;
   gap: 15%;
}
#vida{
   align-content: center;
}
#footer{
   display: flex;
   gap: 10%;
   padding-left: 10%;
}
#heading{
   text-align: center;
   padding-right: 15%;
}@media only screen and (minwidth: 360px) 


